<!DOCTYPE html>

<html>
	<head>
		<title> Magazine </title>
	</head>

	<body>
		<H1>Subscriptions Page</H1>
		<a href = "/subscriptions/new"><button type = "button">New Subscription</button></a><P>
		<a href = "/subscriptions/expiring"><button type = "button">Expiring Subscriptions</button></a><P>
		<a href = "/subscriptions/cancelled"><button type = "button">Cancelled Subscriptions</button></a><P>		
		<a href = "/custom_user/logout"><button type = "button">Log Out</button></a><P>
	</body>
</html>