<!DOCTYPE html>

<html>
	<head>
		<title> Magazine </title>
	</head>

	<body>
		<a href = "/subscriptions"><button type = "button">Home</button></a>
		<H2>Subscription Id: {{ subscription.subscription_id }}</H2>
			<B>Name:</B> {{ subscription.subscriber_name }}<br>
			<B>Mobile Number:</B> {{ subscription.subscriber_mobile_number }}<br>
			<B>Address:</B> {{ subscription.subscriber_address }}<br>
			<P><P>
			<B>Magazine:</B> {{ subscription.magazine_name }}<br>
			<B>Subscription Period:</B> {{ subscription.subscription_start_date }} to {{ subscription.subscription_end_date }}<br>
			{% if subscription_expiring == "expiring" %}
				<Font color="Blue">Subscription Expiring</Font><br>	
			{% endif %}
			{% if subscription_expiring == "expired" %}
				<Font color="Red">Subscription Expired</Font><br>	
			{% endif %}
			<P><P>
			<B>Subscription created by:</B> {{ user.get_full_name }}
			<P><P>
		<a href = "/subscriptions/cancel"><button type = "button">Home</button></a>
	</body>
</html>